# Kotlin Gradle plugin data, see https://kotlinlang.org/docs/whatsnew20.html#new-directory-for-kotlin-data-in-gradle-projects
.kotlin/

# Pulumi state
.pulumi/

### Gradle ###
.gradle
build/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws

### VS Code ###
.vscode/

### Operating System Files ###
.DS_Store
Thumbs.db

### Logs ###
*.log
hs_err_pid*
replay_pid*

### Allow the Gradle Wrapper jar ###
!gradle/wrapper/gradle-wrapper.jar